<div #banner id="banner" class="banner position-relative">
    <div class="h-100 w-100 position-absolute d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="blur rounded-3 bg-dark bg-opacity-10 text-center text-md-start shadow">
                        <h1 class="w-auto p-3 fs-1 text-white"><strong>Simplificando</strong> a contabilidade do agronegócio para
                            você focar no que <strong>realmente importa.</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gradient-secondary py-4">
    <div class="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front p-2">
                    <div class="img-card"></div>
                    <p class="title">FLIP CARD</p>
                    <p>Hover Me</p>
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                    <p>Leave Me</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<cfa-footer></cfa-footer>