<nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="assets/images/campocontabil-logo-sm.png" alt="Campocontabil" class="w-200px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div #banner id="banner" class="banner position-relative">
    <div class="h-100 w-100 position-absolute d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-7 rounded-3 bg-dark bg-opacity-10 text-center text-md-start">
                    <h1 class="w-auto p-3 fs-1"><strong>Simplificando</strong> a contabilidade do agronegócio para
                        você focar no que <strong>realmente importa.</strong></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden" >
    <h1 style="font-size: 10rem !important;">Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div>
<div class="init-hidden">
    <h1>Teste</h1>
</div> -->
<cfa-footer></cfa-footer>