/* You can add global styles to this file, and also import other style files */
@import "./variables";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import 'keen-slider/keen-slider.min.css';


@import "./app";
@import "./functions";
@import "./root";
@import "./page";
@import "./global";
@import "./features";

body {
  --bs-body-font-weight: 300;
  --bs-body-line-height: 26px;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}

h1 {
  font-size: 3.5rem !important;

  @include media-breakpoint-down(lg) {
    font-size: 2.2rem !important;
  }
}

h2 {
  font-size: 3rem !important;

  @include media-breakpoint-down(lg) {
    font-size: 1.8rem !important;
  }
}

b {
  font-weight: 500 !important;
}

.fs-6 {
  font-size: 1.2rem !important;
}

.container {
  @media (min-width: 1400px) {
    max-width: 1216px !important;
  }
}

.nav-link {
  color: white;
  @include media-breakpoint-down(lg) {
  color: black;
  }
}

nav {
  background-color: rgba(145, 145, 145, 0);
  transition: background-color 0.5s ease;

  @include media-breakpoint-down(lg) {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
  }
}

nav.scrolled-sm {
  background-color: rgb(145, 145, 145, 0.1) !important;
}

nav.scrolled-lg {
  background-color: rgb(145, 145, 145, 0.7) !important;
  box-shadow: 1px 1px 20px;
  backdrop-filter: blur(10px);
}

/* Personalização da barra de rolagem para navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  /* Cor de fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, $scroll-primary 0%, $scroll-secondary 50%, $scroll-primary 100%);
  border-radius: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $scroll-primary;
  /* Cor da barra de rolagem quando o mouse passa por cima */
}

@media (max-width: 450px) {
  ::-webkit-scrollbar {
    width: 0;
    overflow-x: hidden;
  }
}