/* You can add global styles to this file, and also import other style files */
@import "./variables";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import 'keen-slider/keen-slider.min.css';


@import "./app";
@import "./functions";
@import "./root";
@import "./page";
@import "./global";
@import "./features";

body{
  --bs-body-font-weight:300;
  --bs-body-line-height:26px;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
  @include media-breakpoint-down(lg){
    font-size: 1rem;
  }
}
h1{
  font-size: 3.5rem !important;
  @include media-breakpoint-down(lg){
    font-size: 2.2rem !important;
  }
}
h2{
  font-size: 3rem !important;
  @include media-breakpoint-down(lg){
    font-size: 1.8rem !important;
  }
}
b{
  font-weight: 500 !important;
}
.container{
  @media (min-width: 1400px) {
    max-width: 1216px !important;
  }
}